.landingPage {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../public/landingPage/car-banner1.png') no-repeat;
    background-size: cover;
    height: 550px;
    /* width: 100%; */
}

.bannerTitle {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 120px;
}

.searchBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 56px;
    background-color: white;
    width: 60%;
}

.searchBarInput  {
    flex: 1;
}

.searchButton {
    background-color: brown;
    color: white;
}

.featuredCars {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 64px 48px 64px 48px;
    color: black;
}

.featuredCarsTitle {
    font-size: 32px;
    margin-bottom: 48px;
}

.featuredCarsRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.rowJustifySpaceBetween {
    justify-content: space-between;
}

.featuredCarsTabs {
    background-color: lightgray;
    padding: 12px 0px;

}
.accordianTab {
    margin: 12px 36px 12px 36px;
}