.bookingConfirmation {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    align-items: center;
    width: 100%;
    padding: 62px;
    font-size: 32px;
}